body {
    background: black;
    color: white;
    padding: 1rem 2rem;
    margin: 0;
}
body, input {
    font-family: monospace;
    font-size: 22px;
}
span {
    float: left;
}
.console-input {
    width: calc(100% - 2rem);
    display: inline-block;
    outline: none;
    background: none;
    padding: 0;
    margin: 0;
    color: white;
    border: none;
}
.results-text {
    color: turquoise;
}
.results-text.error {
    color: red;
}